{% extends 'base.html' %}

{% block cabecera %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Una forma de interacción nunca vista</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">No prometemos cambiar el mundo, pero sí las vidas de sus habitantes. Nuestra misión es crear relaciones nuevas y conseguir que esas relaciones prosperen, todo de una forma diferente. En resumen, conectamos personas que necesitan estar conectadas.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for('signup') }}">Únete YA!</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}{% endblock %}
