{% extends "cabeceraIndice.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<!-- Masthead-->
       <!-- Contribuye --> 
       <section class="page-section bg-primary" id="contrib">
           <div class="container">
               <div class="row justify-content-center">
                   <div class="col-lg-8 text-center">
                       <h2 class="text-white mt-0">Si quieres apoyarnos, es el momento!</h2>
                       <hr class="divider light my-4" />
                       <p class="text-white-50 mb-4">Realmente te necesitamos para esta hazaña. Puedes hacer el cuestionario y compartirlo, hablar de nosotros o directamente, ponerte en contaco con nosotros. Estaremos encantados de hablar contigo. Nos ayudaría mucho que rellenes y compartas el cuestionario.</p>
                       <a class="btn btn-light btn-xl js-scroll-trigger" href="https://bit.ly/3klx8RN">Cuestionario</a>
                   </div>
               </div>
           </div>
       </section>
       <!-- Nuestra Idea -->
       <section class="page-section" id="idea">
           <div class="container">
               <h2 class="text-center mt-0">Nuestra Idea</h2>
               <hr class="divider my-4" />
               <div class="row">
                   <div class="col-lg-3 col-md-6 text-center">
                       <div class="mt-5">
                           <i class="far fa-4x fa-address-book text-primary mb-4"></i>
                           <h3 class="h4 mb-2">Red Social</h3>
                           <p class="text-muted mb-0">El resto de redes sociales no sirven para conocer gente, pero la nuestra sí.</p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-6 text-center">
                       <div class="mt-5">
                           <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                           <h3 class="h4 mb-2">Concectar Estudiantes</h3>
                           <p class="text-muted mb-0">Dedicada por completo a los Universitarios y Preuniversitarios.</p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-6 text-center">
                       <div class="mt-5">
                           <i class="fas fa-4x fa-gamepad text-primary mb-4"></i>
                           <h3 class="h4 mb-2">Juega y veras</h3>
                           <p class="text-muted mb-0">El Juego es la base de la Interacción, Descubrelo.</p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-6 text-center">
                       <div class="mt-5">
                           <i class="fas fa-4x fa-user text-primary mb-4"></i>
                           <h3 class="h4 mb-2">A Tu Medida</h3>
                           <p class="text-muted mb-0">Centrada en tí como usuario, cuántos pueden decir eso?</p>
                       </div>
                   </div>
               </div>
           </div>
       </section>
<!--        &lt;!&ndash; Portfolio&ndash;&gt;-->
<!--        <div id="portfolio">-->
<!--            <div class="container-fluid p-0">-->
<!--                <div class="row no-gutters">-->
<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg">-->
<!--                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="" />-->
<!--                            <div class="portfolio-box-caption">-->
<!--                                <div class="project-category text-white-50">Category</div>-->
<!--                                <div class="project-name">Project Name</div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg">-->
<!--                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="" />-->
<!--                            <div class="portfolio-box-caption">-->
<!--                                <div class="project-category text-white-50">Category</div>-->
<!--                                <div class="project-name">Project Name</div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg">-->
<!--                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="" />-->
<!--                            <div class="portfolio-box-caption">-->
<!--                                <div class="project-category text-white-50">Category</div>-->
<!--                                <div class="project-name">Project Name</div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg">-->
<!--                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="" />-->
<!--                            <div class="portfolio-box-caption">-->
<!--                                <div class="project-category text-white-50">Category</div>-->
<!--                                <div class="project-name">Project Name</div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg">-->
<!--                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="" />-->
<!--                            <div class="portfolio-box-caption">-->
<!--                                <div class="project-category text-white-50">Category</div>-->
<!--                                <div class="project-name">Project Name</div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg">-->
<!--                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="" />-->
<!--                            <div class="portfolio-box-caption p-3">-->
<!--                                <div class="project-category text-white-50">Category</div>-->
<!--                                <div class="project-name">Project Name</div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
       <!-- Call to action-->
       <section class="page-section bg-dark text-white" id="share">
           <div class="container text-center">
               <h2 class="mb-4">Compártenos por Whtasapp!</h2>
               <div class="col-lg-auto mr-auto text-center">
                   <i class="fab fa-whatsapp fa-9x mb-3 text-muted"></i>
               </div>
               <a class="btn btn-light btn-xl" href="whatsapp://send?text=¿Quieres contribuir a cambiar el mundo? Danos tu opinión, porque aquí nos importa!!💪 Estamos desarrollando un proyecto que pretende hacer competencia a grandes empresas multinacionales, desde las universidades de España. Si quieres contribuir escribe a nibraclub@gmail.com y nos pondremos en contacto contigo  https://bit.ly/3klx8RN">Comparte</a>

           </div>
       </section>
       <!-- Contacto -->
       <section class="page-section" id="contact">
           <div class="container">
               <div class="row justify-content-center">
                   <div class="col-lg-8 text-center">
                       <h2 class="mt-0">Queremos saber de tí</h2>
                       <hr class="divider my-4" />
                       <p class="text-muted mb-5">¿Listo para unirte al club y cambiar el mundo con nosotros? Danos un toque, dejanos un correo o échanos un vistazo en insta!</p>
                   </div>
               </div>
               <div class="row">
                   <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                       <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                       <div>+34 652 408 253</div>
                       <div>+34 653 483 177</div>
                   </div>
                   <div class="col-lg-4 mr-auto text-center">
                       <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                       <a class="d-block" href="mailto:nibraclub@gmail.com">nibraclub@gmail.com</a>
                   </div>
                   <div class="col-lg-4 mr-auto text-center">
                       <i class="fab fa-instagram fa-3x mb-3 text-muted"></i>
                       <a class="d-block" href="https://www.instagram.com/nibraclub/">@nibraclub</a>
                   </div>
               </div>
           </div>
       </section>
{% endblock %}
